.guide_container {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    z-index: 100;
    .desc{
        color: white;
        font-family: hyundai-card;
        font-size: 16px;
        word-break: keep-all;
        word-wrap: break-word;
        text-align: -webkit-center;
    }

    .searchbar-container {
        margin:auto; 
        width: 100vw;
        display: flex;
        
justify-content: center;
    .button {
        width: 23px;
        align-self: center;
        margin-left: 10px;
        position: relative;
        }

    }
}