.guide_container {
    position: relative;
    z-index: 100;
    padding: 0 10vw;
    .desc{
        color: blanchedalmond;
        font-family: hyundai-card;
        font-size: 16px;
        word-break: keep-all;
        word-wrap: break-word;
        text-align: -webkit-center;
    }
}