<ngb-carousel
[showNavigationArrows]="true" 
[showNavigationIndicators]="false"
[interval]="speed"
[keyboard]="true"
[pauseOnHover]="true"
[wrap]="true"
id="carousel"
(swipeleft)="onSwipeLeft($event)"
(swiperight)="onSwipeRight($event)"
>
    <ng-template *ngFor="let item of inputs" ngbSlide >
        <div class="content">
            <div class="content-name">
                {{item[0]}}
            </div>
            <div class="content-price">
                {{item[1]}}
            </div>
            <div class="content-info">
                <div class="first">
                    {{item[2]}}
                </div>
                <!-- <div class="second">
                    {{item[3]}}
                </div> -->
            </div>
        </div>
      </ng-template>
  </ngb-carousel
  >