<!-- <ngb-carousel
[showNavigationArrows]="false" 
[showNavigationIndicators]="false"
[interval]="speed"
[wrap]="true"
id="carousel"
(swipeleft)="onSwipeLeft($event)"
(swiperight)="onSwipeRight($event)"
>
    <ng-template *ngFor="let item of inputs" ngbSlide >
        <div class="content">
            <div class="content-name">
                {{item[0]}}
            </div>
            <div class="content-price">
                {{item[1]}}
            </div>
            <div class="content-info">
                <div class="first">
                    {{item[2]}}
                </div>
            </div>
        </div>
      </ng-template>
  </ngb-carousel> -->

  <div class="carousel-animation-wrapper">
    <div class="carousel-wrapper">
        <igx-carousel [navigation]="false" [pause]="false" animationType="fade" [interval]="5000">
                <igx-slide #slide *ngFor="let item of inputs">
                <div class="content" style="display: flex;
                justify-content: space-evenly;">
                <!-- {{item[3]}} -->
                    <div class="content-name">
                        {{item[0]}}
                    </div>
                    <div style="display: flex;
                    flex-direction: column;">
                    <div class="content-price">
                        {{item[1]}}
                    </div>
                    <div class="content-info">
                        <div class="first" [innerHTML]="item[2]" [ngStyle]="{'color': item[4] === 'red' ? '#ee3b89' : '#65a3f5' }"></div>
                        <div class="second" >{{item[3]}}</div>
                        
                    </div>
                </div>
                </div>
                </igx-slide> 
        </igx-carousel>
    </div>
</div>