<div class=dashboard>
    <div class="actionbar">
        <header [title]="'최근 신호'"></header>
    </div>
    <div class="main">
        <app-navi [page]="'최근 신호'"></app-navi>
        <div class="content">
            <mat-tab-group #group dynamicHeight mat-align-tabs="center" [selectedIndex]="selectedIndex"
                (selectedTabChange)="tabChanged($event)">
                <mat-tab label="볼린저 추세 추종">
                    <div class="selection-container" *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0">
                        <mat-form-field appearance="fill">
                            <mat-label>종류</mat-label>
                            <mat-select [formControl]="toppings" multiple [(value)]="typeSelected" (selectionChange)="onChangeType($event)">
                              <mat-option *ngFor="let topping of toppingList" [value]="topping" >{{topping}}</mat-option>
                            </mat-select>
                          </mat-form-field>
    
                          <mat-form-field appearance="fill">
                            <mat-label>최근 일자</mat-label>
                            <mat-select disableRipple (selectionChange)="onChangeDay($event)" [(value)]="daySelected">
                              <mat-option value="1">3일</mat-option>
                              <mat-option value="2">7일</mat-option>
                              <mat-option value="3">14일</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <table mat-table *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0" [dataSource]="inputDataTrend.data" class="mat-elevation-z8"   (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)">
                        <ng-container *ngFor="let item of inputDataTrend.column; index as i" [matColumnDef]=item>
                            <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                            <td mat-cell *matCellDef="let element"
                            [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white' }"
                                (click)="onTapCompany(element[inputDataTrend.column.length], element[0])">
                                {{element[i]}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="inputDataTrend.column"></tr>
                        <tr mat-row *matRowDef="let row; columns: inputDataTrend.column;"></tr>
                    </table>
                    <div class="nolist" *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length == 0"   (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"> 신호 없음 </div>
                </mat-tab>
                <mat-tab label="볼린저 반전 매매">
                    <div class="selection-container" *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0" >
                        <mat-form-field appearance="fill">
                            <mat-label>종류</mat-label>
                            <mat-select [formControl]="toppings" multiple [(value)]="typeSelected" (selectionChange)="onChangeType($event)">
                              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                          </mat-form-field>
    
                          <mat-form-field appearance="fill">
                            <mat-label>최근 일자</mat-label>
                            <mat-select disableRipple (selectionChange)="onChangeDay($event)" [(value)]="daySelected">
                              <mat-option value="1">3일</mat-option>
                              <mat-option value="2">7일</mat-option>
                              <mat-option value="3">14일</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <table mat-table  (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)" *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0" [dataSource]="inputDataReverse.data" class="mat-elevation-z8">
                        <ng-container *ngFor="let item of inputDataReverse.column; index as i" [matColumnDef]=item>
                            <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                            <td mat-cell *matCellDef="let element"
                            [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white' }"
                                (click)="onTapCompany(element[inputDataReverse.column.length], element[0])">
                                {{element[i]}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="inputDataReverse.column"></tr>
                        <tr mat-row *matRowDef="let row; columns: inputDataReverse.column;"></tr>
                    </table>
                    <div class="nolist"  (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)" *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length == 0"> 신호 없음 </div>
                </mat-tab>
                <mat-tab label="삼중창 시스템">
                    <div class="selection-container" *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0">
                        <mat-form-field appearance="fill">
                            <mat-label>종류</mat-label>
                            <mat-select [formControl]="toppings" multiple [(value)]="typeSelected" (selectionChange)="onChangeType($event)">
                              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                          </mat-form-field>
    
                          <mat-form-field appearance="fill">
                            <mat-label>최근 일자</mat-label>
                            <mat-select disableRipple (selectionChange)="onChangeDay($event)" [(value)]="daySelected">
                              <mat-option value="1">3일</mat-option>
                              <mat-option value="2">7일</mat-option>
                              <mat-option value="3">14일</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <table mat-table (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)" *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0" [dataSource]="inputDataTriple.data" class="mat-elevation-z8">
                        <ng-container *ngFor="let item of inputDataTriple.column; index as i" [matColumnDef]=item>
                            <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                            <td mat-cell *matCellDef="let element"
                            [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white' }"
                                (click)="onTapCompany(element[inputDataTriple.column.length], element[0])">
                                {{element[i]}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="inputDataTriple.column"></tr>
                        <tr mat-row *matRowDef="let row; columns: inputDataTriple.column;"></tr>
                    </table>
                    <div class="nolist" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)" *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length == 0"> 신호 없음 </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>