<div class=dashboard>
  <div class="actionbar">
    <header [title]="'최근 신호'"></header>
  </div>
  <div class="main">
    <app-navi [page]="'최근 신호'"></app-navi>
    <div class="content">
      <div class="selection-container" *ngIf="inputDataTrend !== undefined" style="justify-content: flex-end;">
        <mat-form-field appearance="fill">
          <mat-label>종류</mat-label>
          <mat-select [formControl]="toppings" multiple [(value)]="typeSelected"
            (selectionChange)="onChangeType($event)">
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>가상 투자금 (종목당)</mat-label>
          <mat-select disableRipple (selectionChange)="onChangeMoney($event)" [(value)]="moneySelected">
            <mat-option value="10">10만원</mat-option>
            <mat-option value="20">20만원</mat-option>
            <mat-option value="30">30만원</mat-option>
            <mat-option value="50">50만원</mat-option>
            <mat-option value="100">100만원</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="selection-container" *ngIf="inputDataTrend !== undefined">

        <mat-form-field appearance="fill">
          <mat-label>시작</mat-label>
          <input matInput [matDatepicker]="startpicker" [formGroup]="start" [formControl]="start" (dateChange)= "startDateChange($event)">
          <!-- <mat-hint>시작 구간</mat-hint> -->
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>종료</mat-label>
          <input matInput [matDatepicker]="endpicker" [formGroup]="end" [formControl]="end" (dateChange)= "endDateChange($event)">
          <!-- <mat-hint>종료 구간</mat-hint> -->
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker ></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-tab-group #group dynamicHeight mat-align-tabs="center" [selectedIndex]="selectedIndex"
        (selectedTabChange)="tabChanged($event)">
        <mat-tab label="알고리즘 815" *ngIf="getData">
          <div *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0 &&  !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide"
            style="margin-top: 30px;">
            모든 종목 대략 {{money}}만원씩 신호때마다 샀다면?
          </div>
          <div *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0 &&  !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            투자금 {{pastPriceTrend | currency:'KRW':'symbol'}}  /   현재 {{nowPriceTrend| currency:'KRW':'symbol'}}
          </div>
          <div *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0 &&  !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            <span [ngStyle]="{'color': nowPriceTrend - pastPriceTrend>0 ? '#ee3b89' : '#65a3f5' }">{{ nowPriceTrend - pastPriceTrend | currency:'KRW':'symbol'}}</span> 수익
          </div>
          <div *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0 &&  !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 총 수익률 : <span [ngStyle]="{'color': totalRateTrend>0 ? '#ee3b89' : '#65a3f5' }">{{totalRateTrend}}</span> %
          </div>
          <div *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0 && !isMobileDevice && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 평균 수익 실현 기간 {{period_avg_trend}}
          </div>
        
          <table mat-table *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length > 0"
            [dataSource]="inputDataTrend.data" class="mat-elevation-z8" (swiperight)="onSwipeRight($event)"
            (swipeleft)="onSwipeLeft($event)">
            <ng-container *ngFor="let item of inputDataTrend.column; index as i" [matColumnDef]=item>
              <th mat-header-cell *matHeaderCellDef> {{item}} </th>
              <td mat-cell *matCellDef="let element"
                [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white', 'color': i == inputDataReverse.column.length-1 && element[i] > 0 ? '#ee3b89' : i == inputDataReverse.column.length-1 && element[i] < 0 ?'#65a3f5': 'white'  }"
                (click)="onTapCompany(element[inputDataTrend.column.length], element[0])">
                {{element[i]}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="inputDataTrend.column"></tr>
            <tr mat-row *matRowDef="let row; columns: inputDataTrend.column;"></tr>
          </table>
          <div class="nolist" *ngIf="inputDataTrend !== undefined && inputDataTrend.data.length == 0"
            (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"> 신호 없음 </div>

            <div class="page-container" *ngIf="inputDataTrend !== undefined && inputDataTrend.length > 0">
              <igx-icon fontSet="material" (click)="onTapPrev(inputDataTrend.index-1, inputDataTrend.length,1)" [name]="'Prev'" [family]="'user-icons'"></igx-icon>
              <div class="index"> {{inputDataTrend.index + 1 }} / {{ inputDataTrend.length }}</div>
              <igx-icon fontSet="material" (click)="onTapNext(inputDataTrend.index +1, inputDataTrend.length,1)" [name]="'Next'" [family]="'user-icons'"></igx-icon>
            </div>
        </mat-tab>

        <mat-tab label="알고리즘 220522" *ngIf="getData">
          <div *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide"
            style="margin-top: 30px;">
            모든 종목 대략 {{money}}만원씩 신호때마다 샀다면?
          </div>
          <div *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            투자금 {{pastPriceReverse | currency:'KRW':'symbol'}}  /   현재 {{nowPriceReverse| currency:'KRW':'symbol'}}
          </div>
          <div *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            <span [ngStyle]="{'color': nowPriceReverse - pastPriceReverse>0 ? '#ee3b89' : '#65a3f5' }">{{ nowPriceReverse - pastPriceReverse | currency:'KRW':'symbol'}}</span> 수익
          </div>
          <div *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 총 수익률 : <span
              [ngStyle]="{'color': totalRateReverse>0 ? '#ee3b89' : '#65a3f5' }">{{totalRateReverse}}</span> %
          </div>
          <div *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0 && !isMobileDevice && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 평균 수익 실현 기간 {{period_avg_reverse}}
          </div>
          <table mat-table (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length > 0"
            [dataSource]="inputDataReverse.data" class="mat-elevation-z8">
            <ng-container *ngFor="let item of inputDataReverse.column; index as i" [matColumnDef]=item>
              <th mat-header-cell *matHeaderCellDef> {{item}} </th>
              <td mat-cell *matCellDef="let element"
                [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white', 'color': i == inputDataReverse.column.length-1 && element[i] > 0 ? '#ee3b89' : i == inputDataReverse.column.length-1 && element[i] < 0 ?'#65a3f5': 'white' }"
                (click)="onTapCompany(element[inputDataReverse.column.length], element[0])">
                {{element[i]}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="inputDataReverse.column"></tr>
            <tr mat-row *matRowDef="let row; columns: inputDataReverse.column;"></tr>
          </table>
          <div class="nolist" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataReverse !== undefined && inputDataReverse.data.length == 0"> 신호 없음 </div>
            <div class="page-container" *ngIf="inputDataReverse !== undefined && inputDataReverse.length > 0">
              <igx-icon fontSet="material" (click)="onTapPrev(inputDataReverse.index-1, inputDataReverse.length,2)" [name]="'Prev'" [family]="'user-icons'"></igx-icon>
              <div class="index"> {{inputDataReverse.index + 1 }} / {{ inputDataReverse.length }}</div>
              <igx-icon fontSet="material" (click)="onTapNext(inputDataReverse.index +1, inputDataReverse.length,2)" [name]="'Next'" [family]="'user-icons'"></igx-icon>
            </div>
        </mat-tab>
        <mat-tab label="테스트1" *ngIf="getData">
          <div *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide"
            style="margin-top: 30px;">
            모든 종목 대략 {{money}}만원씩 신호때마다 샀다면?
          </div>
          <div *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            투자금 {{pastPriceTest1 | currency:'KRW':'symbol'}}  /   현재 {{nowPriceTest1| currency:'KRW':'symbol'}}
          </div>
          <div *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            <span [ngStyle]="{'color': nowPriceTest1 - pastPriceTest1>0 ? '#ee3b89' : '#65a3f5' }">{{ nowPriceTest1 - pastPriceTest1 | currency:'KRW':'symbol'}}</span> 수익
          </div>
          <div *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 총 수익률 : <span
              [ngStyle]="{'color': totalRateTest1>0 ? '#ee3b89' : '#65a3f5' }">{{totalRateTest1}}</span> %
          </div>
          <div *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length > 0 && !isMobileDevice && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 평균 수익 실현 기간 {{period_avg_test1}}
          </div>
          <table mat-table (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length > 0"
            [dataSource]="inputDataTest1.data" class="mat-elevation-z8">
            <ng-container *ngFor="let item of inputDataTest1.column; index as i" [matColumnDef]=item>
              <th mat-header-cell *matHeaderCellDef> {{item}} </th>
              <td mat-cell *matCellDef="let element"
                [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white', 'color': i == inputDataTest1.column.length-1 && element[i] > 0 ? '#ee3b89' : i == inputDataTest1.column.length-1 && element[i] < 0 ?'#65a3f5': 'white' }"
                (click)="onTapCompany(element[inputDataTest1.column.length], element[0])">
                {{element[i]}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="inputDataTest1.column"></tr>
            <tr mat-row *matRowDef="let row; columns: inputDataTest1.column;"></tr>
          </table>
          <div class="nolist" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataTest1 !== undefined && inputDataTest1.data.length == 0"> 신호 없음 </div>
            <div class="page-container" *ngIf="inputDataTest1 !== undefined && inputDataTest1.length > 0">
              <igx-icon fontSet="material" (click)="onTapPrev(inputDataTest1.index-1, inputDataTest1.length,4)" [name]="'Prev'" [family]="'user-icons'"></igx-icon>
              <div class="index"> {{inputDataTest1.index + 1 }} / {{ inputDataTest1.length }}</div>
              <igx-icon fontSet="material" (click)="onTapNext(inputDataTest1.index +1, inputDataTest1.length,4)" [name]="'Next'" [family]="'user-icons'"></igx-icon>
            </div>
        </mat-tab>

        <mat-tab label="테스트2" *ngIf="getData">
          <div *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide"
            style="margin-top: 30px;">
            모든 종목 대략 {{money}}만원씩 신호때마다 샀다면?
          </div>
          <div *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            투자금 {{pastPriceTest2 | currency:'KRW':'symbol'}}  /   현재 {{nowPriceTest2| currency:'KRW':'symbol'}}
          </div>
          <div *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            <span [ngStyle]="{'color': nowPriceTest2 - pastPriceTest2>0 ? '#ee3b89' : '#65a3f5' }">{{ nowPriceTest2 - pastPriceTest2| currency:'KRW':'symbol'}}</span> 수익
          </div>
          <div *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length > 0 && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 총 수익률 : <span
              [ngStyle]="{'color': totalRateTest2>0 ? '#ee3b89' : '#65a3f5' }">{{totalRateTest2}}</span> %
          </div>
          <div *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length > 0 && !isMobileDevice && !(typeSelected.length === 1 && typeSelected[0] === '매수')" class="profit_guide">
            - 평균 수익 실현 기간 {{period_avg_test2}}
          </div>
          <table mat-table (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length > 0"
            [dataSource]="inputDataTest2.data" class="mat-elevation-z8">
            <ng-container *ngFor="let item of inputDataTest2.column; index as i" [matColumnDef]=item>
              <th mat-header-cell *matHeaderCellDef> {{item}} </th>
              <td mat-cell *matCellDef="let element"
                [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white', 'color': i == inputDataTest2.column.length-1 && element[i] > 0 ? '#ee3b89' : i == inputDataTest2.column.length-1 && element[i] < 0 ?'#65a3f5': 'white' }"
                (click)="onTapCompany(element[inputDataTest2.column.length], element[0])">
                {{element[i]}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="inputDataTest2.column"></tr>
            <tr mat-row *matRowDef="let row; columns: inputDataTest2.column;"></tr>
          </table>
          <div class="nolist" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataTest2 !== undefined && inputDataTest2.data.length == 0"> 신호 없음 </div>
            <div class="page-container" *ngIf="inputDataTest2 !== undefined && inputDataTest2.length > 0">
              <igx-icon fontSet="material" (click)="onTapPrev(inputDataTest2.index-1, inputDataTest2.length,5)" [name]="'Prev'" [family]="'user-icons'"></igx-icon>
              <div class="index"> {{inputDataTest2.index + 1 }} / {{ inputDataTest2.length }}</div>
              <igx-icon fontSet="material" (click)="onTapNext(inputDataTest2.index +1, inputDataTest2.length,5)" [name]="'Next'" [family]="'user-icons'"></igx-icon>
            </div>
        </mat-tab>
        <!-- <mat-tab label="삼중창 시스템">
          <div *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0" class="profit_guide"
            style="margin-top: 30px;">
            모든 종목 대략 {{money}}만원씩 신호때마다 샀다면?
          </div>
          <div *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0" class="profit_guide">
            투자금 {{pastPriceTriple | currency:'KRW':'symbol'}}  /   현재 {{nowPriceTriple| currency:'KRW':'symbol'}}
          </div>
          <div *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0" class="profit_guide">
            <span [ngStyle]="{'color': nowPriceTriple - pastPriceTriple>0 ? '#ee3b89' : '#65a3f5' }">{{ nowPriceTriple - pastPriceTriple | currency:'KRW':'symbol'}}</span> 수익
          </div>
          <div *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0" class="profit_guide">
            - 총 수익률 : <span [ngStyle]="{'color': totalRateTriple>0 ? '#ee3b89' : '#65a3f5' }">{{totalRateTriple}}</span>
            %
          </div>
          <table mat-table (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length > 0" [dataSource]="inputDataTriple.data"
            class="mat-elevation-z8">
            <ng-container *ngFor="let item of inputDataTriple.column; index as i" [matColumnDef]=item>
              <th mat-header-cell *matHeaderCellDef> {{item}} </th>
              <td mat-cell *matCellDef="let element"
                [ngStyle]="{'color': element[i] === '매수' ? '#ee3b89' : element[i] === '매도' ?'#65a3f5': 'white' }"
                (click)="onTapCompany(element[inputDataTriple.column.length], element[0])">
                {{element[i]}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="inputDataTriple.column"></tr>
            <tr mat-row *matRowDef="let row; columns: inputDataTriple.column;"></tr>
          </table>
          <div class="nolist" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)"
            *ngIf="inputDataTriple !== undefined && inputDataTriple.data.length == 0"> 신호 없음 </div>
            <div class="page-container">
              <igx-icon fontSet="material" *ngIf="inputDataTriple !== undefined"(click)="onTapPrev(inputDataTriple.index-1, inputDataTriple.length,3)" [name]="'Prev'" [family]="'user-icons'"></igx-icon>
              <div class="index" *ngIf="inputDataTriple !== undefined && inputDataTriple.length > 0"> {{inputDataTriple.index + 1 }} / {{ inputDataTriple.length }}</div>
              <igx-icon fontSet="material" *ngIf="inputDataTriple !== undefined" (click)="onTapNext(inputDataTriple.index +1, inputDataTriple.length,3)" [name]="'Next'" [family]="'user-icons'"></igx-icon>
            </div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>