
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    .actionbar {
      z-index: 2;
    }
  .main{
    
    display: flex;
    height: inherit;
    .content {
      z-index: 1;
      padding-left: 63px;
      padding-right: 10px;
      width: 100%;
      min-width: 300px;
      overflow: hidden;

      .nolist {
        color: white;
        font-family: hyundai-card;
        word-break: keep-all;
        word-wrap: break-word;
        text-align: center;
        margin-top: 40vh;
        font-size: 20px;
      }

      .selection-container {
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: space-around;
          align-items: center;
          margin-top: 25px;
          margin-bottom: 5px;
          height: 30px;
          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
            background-color: transparent;
            padding: 0px;
          }

          ::ng-deep .mat-form-field {
              width: 100px;
          }

          ::ng-deep .mat-form-field-wrapper {
              padding-bottom: 0px;
    text-align: -webkit-center;
    width: 100%;
          }
          ::ng-deep .mat-form-field-label-wrapper { 
            font-size: 15px;
        }
          ::ng-deep .mat-form-field-type-mat-select .mat-form-field-label {
                color: white;
          } 
          ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
              background-color:var(--default-item-color);
          }

          ::ng-deep .mat-select-value{
              color: white;
              width: 80%;
          }

          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
              display: none;
              span {
                  background-color: transparent;
              }
          }

          ::ng-deep .mat-form-field-label {
            width: 70%;
          }

          
      }
    }
  }
  }
  ::ng-deep .mat-select-panel {
    min-width: 100% !important;
    background-color:var(--default-item-color);
     .mat-option {
        color: white;
        font-family: hyundai-card;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .mat-option-text {
        color: white;
    }
}
::ng-deep .mat-tab-label-container {
  .mat-tab-list {
    mat-ink-bar {
      background-color: var(--default-item-color);
    }
  }
}
  ::ng-deep .mat-tab-label-content {
      color: white;
  font-family: hyundai-card;
  word-break: keep-all;
  word-wrap: break-word;
  }

  ::ng-deep .mat-tab-label {
    height: auto;
  }
 
table {
    width: 100%;
    font-family: 'hyundai-card';
    color: white;

    word-break: keep-all;
    word-wrap: break-word;
    background-color: rgba(5,0, 20,0.3);

    th.mat-header-cell {
        text-align: -webkit-center;
        font-size: 13px;
        color: white;

        word-break: keep-all;
        word-wrap: break-word;
    }
    tr.mat-row, tr.mat-footer-row {
    text-align: -webkit-center;
    }
    td.mat-cell {
        font-size: 13px;
        color: white;

        word-break: keep-all;
        word-wrap: break-word;

    }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 0px;
    }
    // th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    //     padding-right: 0px;
    // }
  }

.profit_guide {
                    color: white;
                    text-align: center;
                    font-family: hyundai-card;
                    word-break: keep-all;
                    word-wrap: break-word;
}

.page-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  height: 30px;
  .index {
    color: white;
    text-align: center;
    font-family: hyundai-card;
  }
  igx-icon {
    width: 15px;
    margin: 0px 15px 0px 15px;

    ::ng-deep svg {
      filter: brightness(0) invert(1);
    }
  }
}

::ng-deep .mat-form-field-label {
  color : white;
}

::ng-deep .mat-icon-button {
  background-color: var(--default-item-color);
}

::ng-deep .mat-form-field .mat-form-field-suffix .mat-icon-button{
  width: 1.5em !important;
  height: 1.5em !important;
  .mat-datepicker-toggle-default-icon {
    width: 1em !important;
    height: 1em !important;
  }
  }

  ::ng-deep .mat-form-field-infix {
    color: white;
    font-size: 15px;
  }

  ::ng-deep .mat-form-field-flex {
    width: 100% !important;
  }