<div class=dashboard>
    <div class="actionbar">
        <header [title]="'대쉬보드'"></header>
    </div>
<div class="content">
    <app-guide [descArray]="guideist" [position]="'middle'" (indexChange)="guideIndexChanged($event)"></app-guide>
    <div class="button-container">
        <div class="card" *ngIf="guideIndex >= 0" (click)="onPressOptPortfolio()">
            <div style="display:table;">
            <span style="display:table-cell;
            vertical-align:middle;width: 8.5vh;
        height: 8.5vh;
        font-size: 2.1vh;">포트폴리오 최적화</span>
    </div>
        </div>
    
        <div class="card" *ngIf="guideIndex >= 1" (click)="onPressGetStock()">
            <div style="display:table;"> <span  style="display:table-cell;
                vertical-align:middle;width: 8.5vh;
            height: 8.5vh;
            font-size: 2.1vh;" >주식 차트</span>
     </div>
        </div>
    </div>
</div>
</div>