
<div class=dashboard>
    <div class="actionbar">
        <header [title]="'대쉬보드'"></header>
    </div>
    <div class="main">
    
    <app-navi [page]="'대쉬보드'"></app-navi>

    <div class="content" *ngIf="getTrendData && getReverseData">
        <div class="title">오늘의 <span class="red">매수</span> 신호</div>
        <div class="signals-container" [ngStyle]="{'background-color': type === 'KRX' ?  'var(--krx-card-color)' : type === 'NASDAQ' ? 'var(--nasdaq-card-color)': 'var(--coin-card-color)'}">
            
            <div class="header">

        <div class="title-container">
                <p class="header-title" #tooltipBuyTrend="matTooltip" [matTooltip]="tooltipTrend"
                >테스트  알고리즘</p>
                <igx-icon  (click)="tooltipBuyTrend.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);" fontSet="material" [name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>   
                    <igx-icon *ngIf="buyTrend.length > 0" [matBadge]="buyTrend.length" fontSet="material" (click)="openDialog('buyTrend')" [name]="'List'" [family]="'user-icons'"></igx-icon>
              
                </div>
            <app-carousel *ngIf="buyTrend.length > 0" style="width: 100%;" [inputs]="buyTrend"></app-carousel>
            <div  class="nolist" *ngIf="buyTrend.length ==  0"> 신호 없음 </div>
             <div class="header">
                <div class="title-container">
                <p class="header-title" #tooltipBuyReverse="matTooltip" [matTooltip]="tooltipReverse"  >테스트 알고리즘</p>
                <igx-icon  (click)="tooltipBuyReverse.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);

                " fontSet="material"[name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>
                <igx-icon  *ngIf="buyReverse.length > 0"  [matBadge]="buyReverse.length" fontSet="material" (click)="openDialog('buyReverse')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel   *ngIf="buyReverse.length > 0"[inputs]="buyReverse"></app-carousel>
            <div  class="nolist"  *ngIf="buyReverse.length == 0"> 신호 없음 </div>
            <!--
            <div class="header">
                <div class="title-container" >
                <p class="header-title" #tooltipBuyTriple="matTooltip" [matTooltip]="tooltipTriple" >삼중창 알고리즘</p>
                <igx-icon (click)="tooltipBuyTriple.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);

                " fontSet="material"[name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>
                <igx-icon *ngIf="buyTriple.length > 0" [matBadge]="buyTriple.length" fontSet="material" (click)="openDialog('buyTriple')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel *ngIf="buyTriple.length > 0" [inputs]="buyTriple"></app-carousel>
            <div class="nolist"  *ngIf="buyTriple.length ==  0"> 신호 없음 </div>
             -->
        </div>
        <p class="title">오늘의 <span class="blue">매도</span> 신호</p>
        <div class="signals-container" [ngStyle]="{'background-color': type === 'KRX' ?  'var(--krx-card-color)' : type === 'NASDAQ' ? 'var(--nasdaq-card-color)': 'var(--coin-card-color)'}">
            <div class="header">
                <div class="title-container">
                <p class="header-title" #tooltipSellTrend="matTooltip" [matTooltip]="tooltipTrend"
                >테스트  알고리즘</p>
                <igx-icon (click)="tooltipSellTrend.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);" fontSet="material" [name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>

                <igx-icon  *ngIf="sellTrend.length > 0" [matBadge]="sellTrend.length" fontSet="material" (click)="openDialog('sellTrend')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            
            </div>
            <app-carousel  *ngIf="sellTrend.length > 0" [inputs]="sellTrend"></app-carousel>
            <div class="nolist"  *ngIf="sellTrend.length ==  0"> 신호 없음 </div>
            
            <div class="header">
                <div class="title-container">
                <p class="header-title" #tooltipSellReverse="matTooltip" [matTooltip]="tooltipReverse" >테스트 알고리즘</p>
                <igx-icon (click)="tooltipSellReverse.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);

                " fontSet="material" [name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>
                <igx-icon *ngIf="sellReverse.length > 0" [matBadge]="sellReverse.length" fontSet="material" (click)="openDialog('sellReverse')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel  *ngIf="sellReverse.length > 0" [inputs]="sellReverse"></app-carousel>
            <div class="nolist"  *ngIf="sellReverse.length ==  0"> 신호 없음 </div>
            <!--
            <div class="header">
                <div class="title-container">
                <p class="header-title" #tooltipSellTriple="matTooltip" [matTooltip]="tooltipTriple" >삼중창 알고리즘</p>
                <igx-icon (click)="tooltipSellTriple.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);

                " fontSet="material" [name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>
                <igx-icon *ngIf="sellTriple.length > 0" [matBadge]="sellTriple.length" fontSet="material" (click)="openDialog('sellTriple')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel  *ngIf="sellTriple.length > 0" [inputs]="sellTriple"></app-carousel>
            <div class="nolist" *ngIf="sellTriple.length ==  0"> 신호 없음 </div>
             -->
        </div>

        <div class="title">최근 3개월 최고 수익 종목 상위 20</div>
        <div class="signals-container" [ngStyle]="{'background-color': type === 'KRX' ?  'var(--krx-card-color)' : type === 'NASDAQ' ? 'var(--nasdaq-card-color)': 'var(--coin-card-color)'}">
            <div class="header">
                <div class="title-container">
                <p class="header-title" #tooltipMomentum2="matTooltip" [matTooltip]="tooltipMomentum"
                >3개월 절대 모멘텀</p>
                <igx-icon (click)="tooltipMomentum2.show()" style="margin: 0px 15px 0px 5px;filter: invert(24%) sepia(1%) saturate(4420%) hue-rotate(236deg) brightness(101%) contrast(81%);" fontSet="material" [name]="'QuestionLeft'" [family]="'user-icons'"></igx-icon>
            </div>
                <igx-icon  *ngIf="momentumData5 != undeifned && momentumData5.length > 0" [matBadge]="'30'" fontSet="material" (click)="onTapMomentum()" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <div class= "momentum-content" *ngFor="let item of momentumData5; index as i">
                <div class="momentum-name">{{item.company}}</div>
                <div class="momentum-rate">{{item.rate}}</div>
            </div>
            <div class= "momentum-content" style="margin-left: 10px" *ngIf="momentumData5 != undeifned && momentumData5.length > 0">...</div>
            <div class= "momentum-content" style="margin-left: 10px" *ngIf="momentumData5.length == 0">모멘텀 계산 중...</div>
    </div>
</div>
</div>
