
<div class=dashboard>
    <div class="actionbar">
        <header [title]="'대쉬보드'"></header>
    </div>
    <div class="main">
    
    <app-navi [page]="'대쉬보드'"></app-navi>

    <div class="content">
        <p class="title">오늘의 <span class="red">매수</span> 신호</p>
        <div class="signals-container" style="background-color: rgba(17, 17, 99, 0.5);">
            
            <div class="header">
                <p class="header-title">볼린저 추세 추종 알고리즘</p>
                <!-- <mat-icon matBadge="15" matBadgeColor="warn"> -->
                    <igx-icon *ngIf="buyTrend.length > 0" [matBadge]="buyTrend.length" fontSet="material" (click)="openDialog('buyTrend')" [name]="'List'" [family]="'user-icons'"></igx-icon>
                <!-- </mat-icon> -->
                </div>
            <app-carousel style="width: 100%;" *ngIf="getTrendData" [inputs]="buyTrend"></app-carousel>
            
            <div class="header">
                <p class="header-title">볼린저 반전매매 알고리즘</p>
                <igx-icon  *ngIf="buyReverse.length > 0"  [matBadge]="buyReverse.length" fontSet="material" (click)="openDialog('buyReverse')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel *ngIf="getTrendData" [inputs]="buyReverse"></app-carousel>
            <div class="header">
                <p class="header-title">삼중창 알고리즘</p>
                <igx-icon *ngIf="buyTriple.length > 0" [matBadge]="buyTriple.length" fontSet="material" (click)="openDialog('buyTriple')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel *ngIf="getTrendData" [inputs]="buyTriple"></app-carousel>
        </div>
        <p class="title">오늘의 <span class="blue">매도</span> 신호</p>
        <div class="signals-container" style="background-color: rgba(17, 17, 99, 0.5);">
            <div class="header">
                <p class="header-title">볼린저 추세 추종 알고리즘</p>
                <igx-icon  *ngIf="sellTrend.length > 0" [matBadge]="sellTrend.length" fontSet="material" (click)="openDialog('sellTrend')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel *ngIf="getTrendData" [inputs]="sellTrend"></app-carousel>
            <div class="header">
                <p class="header-title">볼린저 반전매매 알고리즘</p>
                <igx-icon *ngIf="sellReverse.length > 0" [matBadge]="sellReverse.length" fontSet="material" (click)="openDialog('sellReverse')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel *ngIf="getTrendData" [inputs]="sellReverse"></app-carousel>
            <div class="header">
                <p class="header-title">삼중창 알고리즘</p>
                <igx-icon *ngIf="sellTriple.length > 0" [matBadge]="sellTriple.length" fontSet="material" (click)="openDialog('sellTriple')" [name]="'List'" [family]="'user-icons'"></igx-icon>
            </div>
            <app-carousel *ngIf="getTrendData" [inputs]="sellTriple"></app-carousel>
        </div>
    </div>
</div>
</div>
