// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: Cropaso;
    src: url('./assets/font/FontsFree-Net-Cropaso.ttf');
  }

  @font-face {
    font-family: poorstory;
    src: url('./assets/font/PoorStory-Regular.ttf');
  }

  @font-face {
    font-family: hyundai-card;
    src: url('./assets/font/YouandiModernTR.ttf');
  }
@import "~igniteui-angular/theming";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary);

/* autoprefixer grid: on */

@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);

:root {
   --krx-card-color: rgba(17, 17, 99, 0.5);
   --nasdaq-card-color: rgba(120, 25, 25, 0.5);
   --space-background-color:  #050014;
   --default-menu-color: #835bf3;
}

mat-dialog-container {
  background-color: #2a273d !important;
  border-radius: 30px !important;
}


igx-toast {
  color: white !important;
  font-family: hyundai-card !important;
  word-break: keep-all !important;
  word-wrap: break-word !important;
  background-color: rgba(70, 93, 119, 0.6) !important;
  border-radius: 15px !important;
  
  
  width: 90%;
  text-align: center;
  margin-left: 5% !important;
}


.igx-scrollbar {
  --thumb-background: none;
  --size: 0;
  --track-background: none;
}