/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: Cropaso;
    src: url('./assets/font/FontsFree-Net-Cropaso.ttf');
  }

  @font-face {
    font-family: poorstory;
    src: url('./assets/font/PoorStory-Regular.ttf');
  }

  @font-face {
    font-family: hyundai-card;
    src: url('./assets/font/YouandiModernTR.ttf');
  }