// ::ng-deep .mat-form-field-wrapper {
//     background-color:lightslategrey;    /* replace this color with your accent color hex code */
// }

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color:white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: skyblue;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: skyblue;
}

::ng-deep .mat-input-element {
    caret-color: skyblue;
}

::ng-deep .mat-chip-list-wrapper input.mat-input-element {
    color:white;
}

::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    background-color: skyblue;
    font-family: hyundai-card;
    color: #020024;
}
::ng-deep .mat-option-text {
    color:skyblue;
    font-family: hyundai-card;
}
::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
    background: transparent;
}
::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
    background: transparent;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    font-size: 13px;
    font-family: hyundai-card;
}

.desc{
    font-family: hyundai-card;
    word-break: break-all;
}