#chart {
    max-width: 650px;
    margin: 35px auto;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .actionbar {
        background-color: black;
        z-index: 2;
    }
    .content {
        z-index: 1;
        height: 100%;

    }
}

::ng-deep .guide_container {
  top: 60vh;
}