#chart {
    max-width: 100%;
    max-height: 50%;
    margin: 35px 5%;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .actionbar {
        background-color: black;
        z-index: 2;
    }
    .content {
        z-index: 1;
        height: 100%;

        .result1 {
        color: rgba(0, 227, 150, 0.85);
        font-family: poorstory;
        font-size: 16px;
        word-break: keep-all;
        word-wrap: break-word;
        text-align: -webkit-center;
        }
        .result2 {
          color: rgba(254, 176, 25, 0.85);
          font-family: poorstory;
          font-size: 16px;
          word-break: keep-all;
          word-wrap: break-word;
          text-align: -webkit-center;
          }
    }
}

::ng-deep .guide_container {
  top: 60vh;
}