<div class=dashboard>
  <div class="actionbar">
      <header></header>
  </div>
<div class="content">
    <div id="chart" *ngIf="getData">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>

  
  <div *ngIf="getData" class="result1" style="
  margin-top: 15vh;" [innerText]="result1"></div>
  <div *ngIf="getData" class="result1" style="
  color: white;" [innerText]="result1_portion"></div>
  <div *ngIf="getData" style="
  margin-top: 3vh;" class="result2" [innerText]="result2"></div>
  <div *ngIf="getData" style="
  color: white;" class="result2" [innerText]="result2_portion"></div>
  
</div>
</div>
  