
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    .actionbar {
      z-index: 2;
    }
  .main{
    
    display: flex;
    height: inherit;
    .content {
      z-index: 1;
      padding-left: 63px;
      padding-right: 10px;
      width: 100%;
      min-width: 300px;
      overflow: hidden;

      .nolist {
        color: white;
        font-family: hyundai-card;
        word-break: keep-all;
        word-wrap: break-word;
        text-align: center;
        margin-top: 40vh;
        font-size: 20px;
      }

      .selection-container {
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: flex-end;
          align-items: center;
          margin-top: 10px;
          margin-bottom: 5px;
          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
            background-color: transparent;
            padding: 0px;
            height: 25px;
          }

          ::ng-deep .mat-form-field {
              width: 140px;
          }

          ::ng-deep .mat-form-field-wrapper {
              padding-bottom: 0px;
    text-align: -webkit-center;
    width: 100%;
          }
          ::ng-deep .mat-form-field-label-wrapper { 
            font-size: 15px;
        }
          ::ng-deep .mat-form-field-type-mat-select .mat-form-field-label {
                color: white;
          } 
          ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
              background-color:var(--default-item-color);
          }

          ::ng-deep .mat-select-value{
              color: white;
              width: 80%;
          }

          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
              background-color: transparent;
              span {
                  background-color: transparent;
              }
          }

          ::ng-deep .mat-form-field-label {
            width: 70%;
          }

          
      }
    }
  }
  }
  ::ng-deep .mat-select-panel {
    min-width: 100% !important;
    background-color:var(--default-item-color);
     .mat-option {
        color: white;
        font-family: hyundai-card;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .mat-option-text {
        color: white;
    }
}
 
  .title {
    color: white;
    text-align: center;
    font-family: hyundai-card;
    font-size: 18px;
    z-index: 90;
    margin: 20px 15px 0px 15px;
  }
  .signals-container {
    border-radius: 30px;
padding: 15px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 30px;

  .momentum-content {
    color: white;
    font-family: hyundai-card;
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 7px;
    margin-top: 5px;
    
    .momentum-name {
        font-size: 15px;
        text-align: center;
        width: 40%;
    }
    .momentum-rate {
        font-size: 12px;
        text-align: center;

    display: flex;
    align-items: center;
    align-content: center;
    }
  
}
  }