::ng-deep .js-plotly-plot .plotly .main-svg {
    background: transparent !important;
}
.dashboard {
    display: flex;
    height: 100%;
    flex-direction: column;

    .actionbar {
        z-index: 2;
    }

    .main{
  
      display: flex;
      height: inherit;

  .content {
    z-index: 1;
    padding-left: 63px;
    padding-right: 10px;
    width: 100%;
    min-width: 300px;
    overflow: hidden;

    .chart-container {
        z-index: 1;
    }
    .box_for_menu {
        width: 100vw;
        height: 90px;
    }
  }
}
}

::ng-deep .mat-tab-label-content {
  color: white;
font-family: hyundai-card;
word-break: keep-all;
word-wrap: break-word;
}