<div class=dashboard>
    <div class="actionbar">
        <header [title]="companyName"></header>
    </div>

    <!-- <div *ngIf="getData && isDefault" class="chart-container">
            <plotly-plot [data]="firstChart.data" [layout]="firstChart.layout" [config]="firstChart.config"
                [updateOnlyWithRevision]="true" [revision]="revision" [useResizeHandler]="true"
                [style]="{position: 'relative'}"></plotly-plot>
        </div> -->
    <ng-container *ngIf="getData && isDefault">
        <app-stockdetail-default></app-stockdetail-default>
    </ng-container>

    <ng-container *ngIf="isBollingerTrendFollowing">
        <app-stockdetail-bollingertrend></app-stockdetail-bollingertrend>
    </ng-container>

    <ng-container *ngIf="isBollingerTrendReverse">
        <app-stockdstail-bollingerreverse></app-stockdstail-bollingerreverse>
    </ng-container>

    <ng-container *ngIf="isTripleScreen">
        <app-stockdstail-triplescreen></app-stockdstail-triplescreen>
    </ng-container>
</div>

<div class="chartmenu">
    <div class="card" (click)="tapDefault()">
        <div style="display:table;"> <span style="display:table-cell;
            vertical-align:middle;width: 4vh;
        height: 4vh;
        font-size: 1vh;">기본</span>
        </div>
    </div>

    <div class="card" (click)="tapBolingerTrend()">
        <div style="display:table;"> <span style="display:table-cell;
            vertical-align:middle;width: 4vh;
        height: 4vh;
        font-size: 1vh;">볼린저 추세 추종 매매</span>
        </div>
    </div>

    <div class="card" (click)="tapBollingerReverse()">
        <div style="display:table;"> <span style="display:table-cell;
            vertical-align:middle;width: 4vh;
        height: 4vh;
        font-size: 1vh;">볼린저 반전 매매</span>
        </div>
    </div>

    <div class="card" (click)="tapTripleScreen()">
        <div style="display:table;"> <span style="display:table-cell;
            vertical-align:middle;width: 4vh;
        height: 4vh;
        font-size: 1vh;">삼중창 매매</span>
        </div>
    </div>
</div>