<div class=dashboard>
    <div class="actionbar">
        <header [title]="companyName"></header>
    </div>

    <div class="main">
        <app-navi [page]="'차트'"></app-navi>

    <div class="content">
    
        <mat-tab-group #group dynamicHeight  mat-align-tabs="center" [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)" >
            <mat-tab label="기본 정보" ></mat-tab>
            <mat-tab label="볼린저 추세 추종" ></mat-tab>
            <mat-tab label="볼린저 반전 매매" ></mat-tab>
            <mat-tab label="삼중창 시스템" ></mat-tab>
    </mat-tab-group>
        <app-stockdetail-default *ngIf="isDefault"></app-stockdetail-default>
        <app-stockdetail-bollingertrend *ngIf="isBollingerTrendFollowing"></app-stockdetail-bollingertrend>
        <app-stockdstail-bollingerreverse *ngIf="isBollingerTrendReverse"></app-stockdstail-bollingerreverse>
        <app-stockdstail-triplescreen *ngIf="isTripleScreen"></app-stockdstail-triplescreen>
        
        <div class="box_for_menu"></div>
        </div>
</div>
</div>