.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;

    .actionbar {
        z-index: 2;
    }
    .main{
  
        display: flex;
        height: 100%;
    .content {
        z-index: 1;
        height: 100%;
       
        .searchbar-container {
            margin:auto; 
            width: 100vw;
            margin-top: 40vh;
            display: flex;
            
    justify-content: center;
        .button {
            width: 23px;
            align-self: center;
            margin-left: 10px;
            position: relative;
            }

        }
    }
}
}

::ng-deep .mat-form-field-wrapper{
    width: 50vw;
}