.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .actionbar {
        background-color: black;
        z-index: 2;
    }
    .content {
        z-index: 1;
        height: 100%;

        .dialog-container {
            position: relative;
            color: white;
        }

        .searchbar-container {
            margin:auto; width: 70%; 
            margin-top: 30vh;
        }
    }
}