<igx-nav-drawer style="height: 90vh;" id="navigation" [pinThreshold]="5000"
    [width]=width [miniWidth]=minWidth>
    <ng-template igxDrawer>

        <span igxDrawerItem [isHeader]="true"></span>
        <div class="navi-container">
            <div>
        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple
            (click)="navigate(item)">
            <igx-icon fontSet="material" [name]="item.name" [family]="item.family">{{ item.name }}</igx-icon>
            <span>{{ item.text }}</span>
        </span>
    </div>
        <div class="switch">
            <igx-icon style="width: 20px;" fontSet="material" [style.color]="'white'" [name]="'Rocket'"
                [family]="'user-icons'"></igx-icon>
            <igx-switch [checked]="isGalaxyOn" (change)="onSwitchChanged($event);toast.open(switchGuide);">
            </igx-switch>
        </div>
    </div>
    </ng-template>
    <ng-template igxDrawerMini>

        <span igxDrawerItem [isHeader]="true"></span> 
        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple>
            <igx-icon fontSet="material" [name]="item.name" [family]="item.family">{{ item.name }}</igx-icon>
        </span>
    </ng-template>
</igx-nav-drawer>


<igx-toast #toast [autoHide]="true"></igx-toast>