@import '~igniteui-angular/lib/core/styles/themes/index';
// @use "igniteui-angular/theming" as *;

.application-title {
    color: white;
    font-family: hyundai-card;
    margin-top: 10px;
    font-size: 45px;
}

.title {
    color: white;
    font-family: hyundai-card;
}

:ng-deep .mat-toolbar-row .mat-toolbar-single-row {
    justify-content: space-between;
}

#mat-tooltip {
    justify-content: space-between;
}

:host {
igx-icon {
    filter: brightness(0) invert(1);
    margin-top: 10px;
}
}