<div class=dashboard>
     <div *ngIf="getData" class="chart-container">
        <plotly-plot [data]="firstChart.data" [layout]="firstChart.layout" [config]="firstChart.config"
            [updateOnlyWithRevision]="true" [revision]="revision" [useResizeHandler]="true"
            [style]="{position: 'relative'}" (relayout)="relayoutChart($event)"></plotly-plot>
    </div>

    <div *ngIf="getData" class="chart-container">
        <plotly-plot [data]="secondChart.data" [layout]="secondChart.layout" [config]="secondChart.config"
            [updateOnlyWithRevision]="true" [useResizeHandler]="true" [style]="{position: 'relative'}"
            [revision]="revision" (relayout)="relayoutChart($event)"></plotly-plot>
    </div>
    
    <div *ngIf="getData" class="chart-container">
        <plotly-plot [data]="thirdChart.data" [layout]="thirdChart.layout" [config]="thirdChart.config"
            [updateOnlyWithRevision]="true" [useResizeHandler]="true" [style]="{position: 'relative'}"
            [revision]="revision" (relayout)="relayoutChart($event)"></plotly-plot>
    </div>
</div>
